<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81533268866-jfv7125rdjpnbfvoie1kh87v5kdlvnrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81533268866-jfv7125rdjpnbfvoie1kh87v5kdlvnrp</string>
	<key>API_KEY</key>
	<string>AIzaSyCjOhcbo96NR203OL41bu6rDCRgWYTjAKo</string>
	<key>GCM_SENDER_ID</key>
	<string>81533268866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KiyotoRyuman.LINEMemoFirebase</string>
	<key>PROJECT_ID</key>
	<string>linememofirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>linememofirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81533268866:ios:cc3de5175f4a5b40</string>
	<key>DATABASE_URL</key>
	<string>https://linememofirebase.firebaseio.com</string>
</dict>
</plist>